div{
    /* width: 150px;
    height: 70px;
    background-color: brown;
    border: 1px solid; */
    /* overflow: visible; - shfaq pjesen jashta dimensioneve te div-it*/   
    /* overflow: hidden; - fsheh pjesen jashta dimensioneve te div-it */
    /* overflow: scroll; - vendos scrollbar horizontalisht dhe vertikalisht*/
    /* overflow: auto; -vendos scrollbar vetem kur nevojitet */
    /* overflow-x: hidden; - kontrolloni overflow majtas djathtas - horizontalisht */
    /* overflow-y: scroll; - kontrolloni overflow poshte lart - vertikalisht */

}

img{
    float: right;
    /* float:left; */
    /* float:none; */
}

ul{
    list-style-type: none;
    background-color: rgb(86, 82, 82);
    padding: 0;
    margin: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: inline-block;
    color: antiquewhite;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover{
    background-color: rgb(236, 225, 119);
    color: black;
}

.active{
    background-color: brown;
}